@font-face {
    font-family:varela ;
    src: url(../fonts/VarelaRound-Regular.ttf);
}
@font-face {
    font-family:nunito ;
    src: url(../fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}